    .image {
      background-image: url(bedroom\ photo.jpg);
          width: 300px;
          height: 150px;
          }
         
     .amount { 
            width: 52px;
            height: 33px;
            padding: 0;
            border: none;
            
            position: fixed;
            top: 120px;
            left: 33px;
            color: #ffffff;
            font-family: serif;
            font-size: 28px;
            letter-spacing: 0.0;  
            } 
    
    .box {
        box-sizing: inherit;
        width: 288px;
        height: 52px;
        bottom: 12px;
        left: 6px;
        top: 156px;
        position: absolute;
        border: solid grey;
        border-width: 1px;
        padding: 6px;
      
    }

    
        .unit  {
             position: fixed;
             top: 160px;
             left: 30;
             color: #1e2d52;
             font-family: serif;
             letter-spacing: 0.0;
             font-size: 17px;
             padding-bottom: 10px;
             margin: 10px;
            }
          
    .date  {
        position: fixed;
             top: 185px;
             left: 30;
             color: grey;
             font-family: serif;
             letter-spacing: 0.0;
             font-size: 17px;
             margin: 10px;
    }
