
    
 .img{
    position: fixed; 
    margin: 0px 0px 15px 20px;
    height: 50%;
    width: 50%;
}
div {
    float: left;
    align-content: space-between;
    width: 100px;
    border: 1px solid green;
    padding: 30px;
    margin: 10px;
  }

 p{
     text-align: left;
        
}

